* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
}

html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
  background-image: url("fondo.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}


/*IMAGES FOR FRONT PAGE AND KEYFRAMES*/

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing2 {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  from {
    color: #ff1414
  }

  to {
    color: transparent
  }
}

@keyframes wind {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.littleAdam {
  /*BOX CONTAINING LITTLE ADAMS*/
  grid-area: 2/6/4/7;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 50% 50%/ 50% 50%;
}

#littleAdam,
#littleAdam2 {
  grid-area: 6/1/1/2;
  min-height: 100px;
  max-height: 100px;
  align-self: end;
}

#littleAdam2 {
  animation: wind 0.5s cubic-bezier(1, 0.5, 0.5, 1) infinite;
}

img {
  height: 100%;
  width: 100%;
}

.building {
  height: 190%;
  width: 160%;
  grid-area: 2/6/6/6;
  justify-self: end;
}

/*-----------------------------------START OF FRONT PAGE------------------------------------*/

.frontPage {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 2fr 150px 55px 55px 55px / 1fr 1fr 1fr 1fr 1fr 290px;
}

.titleBox {
  grid-area: 1/2/2/5;
  height: 100%;
  width: 100%;
  color: #44da31;
  font-family: "Press Start 2P";
  white-space: nowrap;
  margin-left: 20%;
  margin-bottom: 10%;
}

.titleMusic {
  color: #ffffff;
}

.titleBox>p {
  margin-top: 90px;
  font-size: 45px;
}

/*----------------------START FOR CLICKABLE SELECTORS--------------*/

.selectors {
  grid-area: 2/3/6/7;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 30px;
}

.about,
.skills,
.projects,
.contact {
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Press Start 2P";
  text-align: left;
}

i {
  margin-right: 1px;
  color: transparent;
}

.about:hover>p,
.skills:hover>p,
.projects:hover>p,
.contact:hover>p {
  font-weight: bold;
  color: #6f00ff;
  cursor: pointer;
}

.about:hover>p>i,
.skills:hover>p>i,
.projects:hover>p>i,
.contact:hover>p>i {
  color: white;
  margin-right: 2.5px;
  font-size: 30px;
  animation: blink 1s steps(2, end) infinite;
  font-size: 3.5vh;
}

/*----------------------END OF FRONT PAGE AND CLICKABLE SELECTORS--------------*/

#adam2 {
  animation: wind 0.1s cubic-bezier(1, 0.5, 0.5, 1) infinite;
}

/*-----------------------------RESPONSIVE----------------------------------------------*/

@media screen and (max-width: 750px) {

  .selectors {
    font-size: 4.5vw;
  }

}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 375px) {
  .selectors {
    grid-area: 2/2/2/2;
    margin-top: 3.4vh;
    margin-left: 1.4vh;
  }

  .about:hover>p>i,
  .skills:hover>p>i,
  .projects:hover>p>i,
  .contact:hover>p>i {
    margin-right: 1px;
    font-size: 3.5vh;
  }

  .building {
    height: 150%;
    width: 145%;
    margin-top: 12.3vh;
  }

  #littleAdam,
  #littleAdam2 {
    margin-bottom: -7vh;
  }

  .binary-title {
    font-size: 8vw;
  }

  #bit,#bit2 {
    font-size: 8vw;
  }
}

.binary-title {
  font-size: 3vw;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.binary-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.binary-title span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
