/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  color: #44da31;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background-image: url("fondo.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

header {
  color: #fff;
  width: 100%;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar el contenido verticalmente */
  padding: 20px;
}

.title-section {
  width: 100%;
}

.grid-section {
  display: flex;
  width: 100%;
  flex: 1;
}

.left-column,
.center-column,
.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
}

footer {
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  z-index: 100;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
}

.binary-title {
  font-size: 3.5vw;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.binary-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.binary-title span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

#bit3 {
  font-size: 1.5vw;
}

.littleAdam {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  height: auto;
}

#building {
  width: 30vw;
  position: absolute;
  bottom: -1vw;
  right: 1vw;
  z-index: 0;
}

#littleAdam,
#littleAdam2 {
  width: 6vw;
  position: absolute;
  bottom: 23vw;
  right: 12vw;
  z-index: 1;
}

#littleAdam2 {
  animation: wind 0.5s cubic-bezier(1, 0.5, 0.5, 1) infinite;
}

@keyframes wind {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.selectors {
  display: flex;
  flex-direction: column-reverse; /* Alinea de arriba hacia abajo */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: left; /* Centrar el contenido horizontalmente */
  width: 100%;
  height: 100%;
  font-size: 2vw;
  z-index: 50;
}

.about,
.skills,
.projects,
.contact {
  margin: 1.7vw 7.5vw; /* Reducir el margen entre los elementos */
  width: auto; /* Ajustar el ancho según el contenido */
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P";
  text-align: left;
}

i {
  margin-right: 1px;
  color: transparent;
}

.about:hover>p,
.skills:hover>p,
.projects:hover>p,
.contact:hover>p {
  font-weight: bold;
  color: #ae00ff;
  cursor: pointer;
  text-shadow:
    -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}

.about:hover>p>i,
.skills:hover>p>i,
.projects:hover>p>i,
.contact:hover>p>i {
  color: #420000;
  margin-right: 7px;
  animation: blink 1s steps(2, end) infinite;
  font-size: 2.8vw;
}

@keyframes blink {
  from {
    color: #ff0000
  }

  to {
    color: transparent
  }
}

#nave {
  z-index: 1;
  width: 12vw;
  height: 12vw;
  position: absolute;
  margin-top: 220px;
  left: 100;
  animation: levitar 3s infinite ease-in-out;
}

@keyframes levitar {
  0% {
      top: 0;
  }
  50% {
      top: -1.5vw;
  }
  100% {
      top: 0;
  }
}

@media (orientation: portrait) and (any-pointer: coarse) {
  body {
    text-align: center;
    white-space: normal;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 1px 0;
  }

  main {
    padding: 20px;
  }

  .binary-title {
    font-size: 8vw;
  }

  #bit3 {
    font-size: 3.5vw;
  }

  #building {
    width: 97vw;
    bottom: -1vw;
    right: 1vw;
  }

  #littleAdam,
  #littleAdam2 {
    width: 21vw;
    bottom: 76vw;
    right: 35vw;
  }

  footer {
    font-size: 4vw;
  }

  .selectors {
    font-size: 3vh;
    margin-top: -50vh;
  }
  
  .about,
  .skills,
  .projects,
  .contact {
    margin: 1vh 0.5vh; /* Reducir el margen entre los elementos */
    width: 150%; /* Ajustar el ancho según el contenido */
  }
    
  .about:hover>p>i,
  .skills:hover>p>i,
  .projects:hover>p>i,
  .contact:hover>p>i {
    margin-right: 1vw;
    font-size: 4.5vh;
  }

  #nave {
    width: 20vw;
    height: 12vh;
    margin-top: 47vh;
    left: 10vw;
  }
}

@media (orientation: landscape) and (any-pointer: coarse) {
  .binary-title {
    font-size: 4vw;
  }

  #bit3 {
    font-size: 1.7vw;
  }

  #building {
    width: 220px;
    bottom: -1vw;
    right: 1vw;
  }

  #littleAdam,
  #littleAdam2 {
    width: 50px;
    bottom: 23vw;
    right: 11vw;
  }

  footer {
    font-size: 2vw;
  }

  .selectors {
    font-size: 2.4vw;
    margin-top: -5vh;
    margin-left: 5vw;
  }
  
  .about,
  .skills,
  .projects,
  .contact {
    margin: 2vh 0.5vh; /* Reducir el margen entre los elementos */
    width: 150%; /* Ajustar el ancho según el contenido */
  }
    
  .about:hover>p>i,
  .skills:hover>p>i,
  .projects:hover>p>i,
  .contact:hover>p>i {
    margin-right: 0.5vw;
    font-size: 3.5vw;
  }

  #nave {

    margin-top: 45vh;

  }
}
