* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  color: #44da31;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background-image: url("fondo.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

header {
  color: #fff;
  width: 100%;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title-section {
  width: 100%;
}

.grid-section {
  display: flex;
  width: 100%;
  flex: 1;
}

.left-column,
.center-column,
.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  position: relative;
}

footer {
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  z-index: 100;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
}

.binary-title {
  font-size: 3.5vw;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.binary-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.binary-title span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.littleAdam {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  height: auto;
}

#building {
  width: 30vw;
  position: absolute;
  bottom: -1vw;
  right: 1vw;
  z-index: 0;
}

#littleAdam,
#littleAdam2 {
  width: 6vw;
  position: absolute;
  bottom: 23vw;
  right: 12vw;
  z-index: 1;
}

#littleAdam2 {
  animation: wind 0.5s cubic-bezier(1, 0.5, 0.5, 1) infinite;
}

@keyframes wind {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    text-align: center;
    white-space: normal;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 1px 0;
  }

  main {
    padding: 20px;
  }

  .binary-title {
    font-size: 7vw;
  }

  #building {
    width: 97vw;
    position: absolute;
    bottom: -1vw;
    right: 1vw;
    z-index: 0;
  }

  #littleAdam,
  #littleAdam2 {
    width: 21vw;
    position: absolute;
    bottom: 76vw;
    right: 35vw;
    z-index: 1;
  }

  footer {
    font-size: 5vw;
  }
}

@media (orientation: landscape) and (any-pointer: coarse) {

  .binary-title {
    font-size: 4vw;
  }

  #building {
    width: 220px;
    position: absolute;
    bottom: -1vw;
    right: 1vw;
    z-index: 0;
  }

  #littleAdam,
  #littleAdam2 {
    width: 50px;
    position: absolute;
    bottom: 23vw;
    right: 11vw;
    z-index: 1;
  }

  footer {
    font-size: 2vw;
  }

}
